[Unit]
Description=GPS (Global Positioning System) Daemon - Custom
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/gpsd -N -G -n -b /dev/ttyUSB1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 